.DS_Store
Thumbs.db
.vscode/
.idea/

venv/
__pycache__/
*.pyc

infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfvars   


infra/*.zip
infra/lambda_contact/*.zip
infra/lambda_visitor/*.zip


infra/lambda_contact/**/*.dist-info/
infra/lambda_contact/**/*.egg-info/
infra/lambda_visitor/**/*.dist-info/
infra/lambda_visitor/**/*.egg-info/

node_modules/

assets/**/*.drawio.bkp
